@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100px;
  background-color: #00875b;
}

header img {
  display: block;
  height: 100%;
}

main {
  width: 1200px;
  margin: 20px auto;
}

main form {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
}

textarea#bio {
  resize: vertical;
}

main form label {
  font-size: 12px;
  padding: 8px 0;
  font-weight: 500;
}

main form ul {
  list-style: none;
}

main form ul li {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #ffcc00;
  font-weight: 500;
}

main form ul li::before {
  margin-right: 4px;
  content: "⚠️";
}

main form input,
main form textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  border: none;
}

main form input:not([type='file']) {
  font-size: 18px;
}

main form input:not([type='file']):invalid {
  box-shadow: none !important;
  border-bottom: thin solid rgb(255, 0, 55) !important;
}

main form input:not([type='file']):valid {
  box-shadow: none !important;
  border-bottom: thin solid rgb(10, 187, 89) !important;
}

main form textarea {
  padding: 8px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 4px;
}

main form textarea:invalid {
  box-shadow: none !important;
  border: thin solid rgb(255, 0, 55);
}

main form textarea:valid {
  box-shadow: none !important;
  border: thin solid rgb(10, 187, 89);
}

main form button {
  align-self: flex-end;
  display: block;
  padding: 10px 40px;
  background-color: #00875b;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

main form button:hover {
  cursor: pointer;
  background-color: #005f40;
}