@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
}

main section a {
  text-decoration: inherit;
  color: inherit;
}

main section a:hover article {
  background-color: rgb(243, 243, 243);
}

header {
  height: 100px;
  background-color: #00875b;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

header img {
  display: block;
  height: 100%;
}

#new {
  color: #FFF;
  height: 50px;
  width: 50px;
  transition: color 0.3s;
}

a:hover #new {
  color: rgb(216, 216, 216);
}

h2 {
  font-weight: 500;
}

main {
  width: 1200px;
  margin: 20px auto;
}

main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

main section a article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

div.avatar-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

img.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}

main section a article p {
  font-weight: 400;
}

div.email h2,
div.bio h2 {
  font-size: 14px;
  font-weight: 700;
}

div.email p {
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 24px;
}

div.bio p {
  font-size: 14px;
  line-height: 24px;
}