{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
  <link rel="stylesheet" href="{% static 'styles/user/new.css' %}">
</head>

<body>

  <header>
    <a href="{% url 'index' %}">
      <img src="{% static 'django.png' %}" alt="django" />
    </a>
  </header>

  <main>
    <form>
      <input type="text" id="first-name" placeholder="Nome" required />

      <input type="text" id="last-name" placeholder="Sobrenome" required />

      <input type="email" id="email" placeholder="E-mail" required />

      <input type="date" id="date-of-birth" required />

      <textarea id="bio" placeholder="Bio"></textarea>

      <button type="submit">Salvar</button>
    </form>
  </main>

</body>

</html>